<%= error_messages_for 'model_name' %>

<!--[form:model_name]-->
<p><label for="model_name_name">Name</label><br/>
<%= text_field 'model_name', 'name'  %></p>

<p><label for="model_name_desc">Desc</label><br/>
<%= text_field 'model_name', 'desc'  %></p>
<!--[eoform:model_name]-->
