<h1>Episode List</h1>
<table class="style_table" cellspacing="1" border="0">
	<tr><th class="style_th">episodes of station 99999</th></tr>
	<tr>
		<td class="style_td"><%=link_to 'episode-2009-04-24', :action => 'show', :id => 1 %></td>
	</tr>
	<tr>
		<td class="style_td">episode-2009-04-25</td>
	</tr>
	<tr>
		<td class="style_td">episode-2009-04-26</td>
	</tr>
</table>
