<% if @current_station %>
<%   station = 'station ' + @current_station %>
<% else %>
<%   station = 'no station selected!!' %>
<% end %>
<h1>Episode List: <%= station %></h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">

<table cellspacing="1" border="0">
<tr><td><%= link_to 'new', :action=>:new %></td></tr>
</table>

<!-- layout --></td><td class="layout">

<table cellspacing="1" border="0">
<tr><th>episodes</th><th>cast</th></tr>
<% @episodes.each do |i| %>
<tr>
<td><%=link_to i.title, :action => 'show', :id => i.id %></td>
<td><%= link_to 'cast', :controller => 'caststudio', :action => 'run', 
  :format => 'jnlp', :s => @current_station %>
</td>
</tr>
<% end %>
</table>

<!-- layout --></td></tr></table>
