<h1>Episode List</h1>
<table cellspacing="1" border="0">
<tr><th>episodes of station 99999</th></tr>
<tr>
<td><%=link_to 'episode-2009-04-24', :action => 'show', :id => 1 %></td>
</tr>
<tr>
<td>episode-2009-04-25</td>
</tr>
<tr>
<td>episode-2009-04-26</td>
</tr>
</table>
