<% content_for :title do %>New Episode : station <%= @current_station %><% end %>

<% content_for :actions do %>
<table cellspacing="1" border="0">
<tr><td><%= link_to 'index', :action=>:index %></td></tr>
</table>
<% end %>

<% form_for :item, @item, :url => { :action => :create } do |f| %>

<table cellspacing="1" border="0">
<tr><th>episode title</th>
<td><%= f.text_field :title %></td></tr>
<tr><th>-</th><td><%= submit_tag 'Create' %></td></tr>
</table>

<% end %>


