<h1>Episode Property: station <%= @current_station %></h1>
<table cellspacing="1" border="0">
	<tr><th>media items of episode-2009-04-24</th></tr>
	<tr><td><%=link_to 'sent by nishimotz 2009-04-20', 
			:controller => 'mediaitem', :action=>'show', 
			:id => 608984340 %></td></tr>
	<tr><td>sent by nishimotz 2009-04-21</td></tr>
	<tr><td>sent by nishimotz 2009-04-22</td></tr>
</table>
