<h1>Episode Property</h1>
<table class="style_table" cellspacing="1" border="0">
	<tr><th class="style_th">media items of episode-2009-04-24</th></tr>
	<tr><td class="style_td"><%=link_to 'sent by nishimotz 2009-04-20', 
			:controller => 'mediaitem', :action=>'show', 
			:id => 608984340 %></td></tr>
	<tr><td class="style_td">sent by nishimotz 2009-04-21</td></tr>
	<tr><td class="style_td">sent by nishimotz 2009-04-22</td></tr>
</table>
