/* revised on 2004-08-06 by nishi */

BODY	{
	font-size:100%;
	background-color:#FFFFcc;
	}

A:link		{color:#0000cc;}	
A:visited	{color:#400080;}	
A:active	{color:red;}	
A:hover     {color:red;}

H1	{
	font-size:100%;
	color:black;		
	font-weight:bold;	
	text-align:center;	
	background-color:#eeffff;
	border-style:solid;
	border-color:gray;	
	padding:4px;
	}

H2	{
	font-size:100%;
	color:black;		
	text-align:center;	
	margin-left:2px;	
	margin-right:2px;
	background-color:#FFFF99;
	border-width:0 0 1px 0;		
	border-style:solid;		
	border-color:gray;
	padding:2px;
	}

H3,H4,H5 {
	font-size:100%;
	color:black;		
	text-align:left;
	margin-left:2px;	
	margin-right:2px;
	background-color:#FFFF99;
	border-width:0 0 1px 0;		
	border-style:solid;		
	border-color:gray;
	padding:2px;
	}

P
	{
	font-size:100%;
	color:#000000;
	line-height:130%;
	font-weight:400;	
	}

DL	
	{
	list-style-type:disc;	
	font-size:100%;
	color:#000000;		
	line-height:130%;	
	font-weight:400		
	}

UL	
	{
	text-indent: -3em;
	list-style-type: square;	
	color:#000000;	
	}

UL LI
	{
	font-size:100%;
	color:#000000;		
	}

OL	
	{
	list-style-type:decimal;
	font-size:100%;
	color:#000000;		
	line-height:130%;	
	font-weight:400		
	}

OL LI
	{
	font-size:100%;
	color:#000000;		
	line-height:140%;	
	font-weight:400;	
	}

SPAN.italic
	{
	font-style:italic;
	}

SPAN.under
	{
	text-decoration:underline;
	}

code {font-size: 85% }

pre { 
   font-family: monospace;
   font-size: 85%;
   white-space: pre;
   background-color: rgb(230,230,255);
   padding: 0.5em;
   margin-left: 0;
   border: none;
   width: 97%;
}

.gray { color: #aaaaaa; }
.subtitle { text-align:center; }

