<h1>Resource List </h1>
<%= link_to 'new', :action => 'new'%>

<table cellspacing="1" border="0">
<tr>
<td> Telephone box</td>
<td> http://hil.t.u-tokyo.ac.jp/~nishi/mmm/ruby-cgi/?format=rss </td>
<td> 2009-04-25 12:34:56 UTC</td>
</tr>
</table>
