<% content_for :title do %>User#index<% end %>

<table class="style_table" cellspacing="1" border="0">
<% @users.each do |i| -%>
<tr>
<td><%= i.id %></td> 
<td><%= i.name %></td> 
<td><%= i.password %></td>
</tr>
<% end -%>
</table>
